body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/*Estilos de navbar*/
.profile{
    width: 3rem!important;
    height:3rem!important; ;
}
.options-profile i{
    font-size: 1.2rem;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    overflow-x: hidden;
    padding: 20px 16px;
    color: white;
    z-index: 1000;
    
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidebar a:hover {
    background-color: #46a19c75;
    border-radius: 1rem;
 
}
.sidebar a:hover i {
    color: #46a19c;
}
.sidebar a:hover i,
.sidebar a.active i {
    color: #46a19c;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #46a19c75;
    border-radius: 1rem;
}
.logo{
    margin: 0 auto;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
.navbar .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .profile span {
    color: #ffffff;
    margin-right: 5px;
}

.navbar .profile i {
    color: #46a19c;
}
@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    .mobile-menu-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }
}

/*Empiezan estilos de la estructura del menu*/
.logout{
    position: absolute;
    bottom: 20px;
}