
:root {
    --color-secondary: #C41BA2;
    --color-dark-blue: #370C94;
    --color-third: #4442B6;
    --color-third-opacity: #4442b61c;
    --color-light: #F8F8F8;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Estilos de navbar*/
.profile{
    width: 3rem!important;
    height:3rem!important; ;
}
i{
    color: var(--color-light)!important;
}
.options-profile i{
    font-size: 1.2rem;

}

/* Estilos de sidebar left */
.card-accion {
    padding: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 0.25px 0px rgba(255, 255, 255, 0.50) inset;
    border-radius: 0 20px;
    gap: 8px;
    margin-bottom: 16px; 
  }
.toggle-button-left{
    display: none;
}
.content-sidebar{
    padding-top: 10%;
}
.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 18%;
    overflow-x: hidden;
    padding: 20px 16px;
    color: white;
    z-index: 1000;
    
}
.sidebar-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidebar-menu a:hover {
    background-color: var(--color-dark-blue);
    border-radius: 1rem;
 
}
.sidebar-menu a:hover i {
    color: var(--color-dark-blue);
}
.sidebar-menu a:hover i,
.sidebar-menu a.active i {
    color: var(--color-light);
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
    background-color: var(--color-third);
    box-shadow: var(--color-third);
    border-radius: 1rem;
}
.logo{
    margin: 0 auto;
}
@media (min-width: 768px) {
    .sidebar-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 18%;
        overflow-x: hidden;
        color: white;
        z-index: 1000;
        
    }
    .sidebar-menu a {
        padding: 10px 5px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
    }
    .sidebar-menu a:hover {
        background-color: var(--color-dark-blue);
        border-radius: 1rem;
     
    }
    .sidebar-menu a:hover i {
        color: var(--color-dark-blue);
    }
    .sidebar-menu a:hover i,
    .sidebar-menu a.active i {
        color: var(--color-light);
    }
    
    .sidebar-menu a:hover,
    .sidebar-menu a.active {
        background-color: var(--color-third);
        box-shadow: var(--color-third);
        border-radius: 1rem;
    }
    .logo{
        margin: 0 auto;
    }
}

.content {
    margin-left: 210px;
    padding: 20px;
    background-color: #1a182265;
    margin-right: 2em;
    border-radius: 0.8em;
}
.navbar .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .profile span {
    color: #ffffff;
    margin-right: 5px;
}

.navbar .profile i {
    color: var(--color-dark-blue);
}



.right-section{
    width: 280px;
}
#toggleButtonLeft{
    display: none;
}
aside .sidebar-right {
    width: 25%!important;
}

@media (max-width: 1000px) {
    .sidebar-right {
        transform: translateX(100%)!important;
    }

    .sidebar-righ.show {
        transform: translateX(0)!important;
    }

    #toggleButton {
        display: inline-flex!important;
    }
    .toggle-button-left{
        display: block;
    }
    body{
        display: grid;
        grid-column: 1;
    }
    .navbar-content-main{
        grid-column: 1;
    }

    nav{
        justify-content: center;
    }
    .grid-container{
        display: flex;
    }
    .navbar-mobile{
        grid-column: 1;
    }
    button.button-primary {
        font-size: 12px!important;
        padding: 2px!important;;
      }
      
}
@media screen and (max-width: 801px) {
    .sidebar-menu-left{
        visibility: hidden;
    }
    .content {
        margin-left: 0;
    }
    .mobile-menu-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }
    .bar-search {
        display: none;
    }
    .user-perfil{
        display: none;
    }

    .grid-content-navbar{
        grid-column: 1 / 11!important;
        margin-bottom: 0!important;
    }
    .grid-content{
        grid-column: 1 / 11!important;
        margin-bottom: 0!important;
    }
    
    #toggleButtonLeft{
        display: block;
    }
}

@media screen and (max-width: 1080px){

    .grid-content{
        grid-column: 1 / 11;
        margin-bottom: 0!important;
    }
    span{
        font-size: 14px!important;
    }
   
}

/*Empiezan estilos de la estructura del menu*/
.logout{
    position: absolute;
    bottom: 20px;
}

/* Carrusel  */
.carousel-container {
    position: relative;
    width: 100%;
    min-height: 280px;
    max-height: 360px;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 300px;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}




/* Contenido central */

.grid-container{
    display: grid;
  grid-template-columns: repeat(10, 1fr); /* Tres columnas de igual ancho */
  grid-template-rows: auto; /* Altura automática basada en el contenido */
  gap: 4px; 
}

.grid-content-navbar{
    grid-column: 3 / 11;
}
.grid-content{
    grid-column: 3 / 9;
}





/* Carrusel de categorias */
#carousel-container {
    max-width: 100%;
    height: 300px;
    position: relative;
}

.carousel-inner {
    display: flex;
    width: 100%;
}

.carousel-item {
    flex: 0 0 auto;
    width: 25%; /* Adjust based on the number of images to show per view */
    height: 100%;
    margin-right: 2px;
}
.carousel-item h2 {
    line-height: normal;
}

.carousel-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel-item img {
    height: 200px;
    border-radius: 8px;
    padding: 0 0 2px 0;
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.indicator {
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: var(--color-dark-blue);
}


/* Carrusel de promociones*/
#carousel-container-promo {
   
    height: auto;
    position: relative;
    margin-top: 12px;
}
.carousel-item-promo{
    flex: 0 0 auto;
    width: 35%; 
    margin-right: 8px;
}
.carousel-item-promo h2 {
    line-height: normal;
}
.carousel-item-promo img {
    height: 150px;
    border-radius: 8px;
    padding: 0 0 2px 0;
}
.carousel-image-promo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.indicator-promo {
    transition: background-color 0.3s ease;
}

.indicator-promo.active {
    background-color:  var(--color-dark-blue);
}
.carousel-control-promo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}


@media (max-width: 1024px) {
    .carousel-item {
        width: 33.33%; /* Show 3 images per view on medium screens */
    }
    .carousel-item-promo {
        width: 35.33%; /* Show 3 images per view on medium screens */
    }
}

@media (max-width: 768px) {
    .carousel-item {
        width: 50%; /* Show 2 images per view on small screens */
    }
}

@media (max-width: 480px) {
    .carousel-item {
        width: 100%; /* Show 1 image per view on extra small screens */
    }
}
