
:root {
    --color-messageUser: rgba(255, 255, 255, 0.809);
    --color-emailUser:  rgba(202, 202, 202, 0.822);  
    --color-greenLight: #52bfb9;
}

.dialog {
    flex-direction: column;
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.container-notification {
    height: 95vh;
    width: 600px;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Montserrat';
}

.close-title {
    display: flex;
    position: relative;
    top: 1%;
}

.btn-close {
    position: relative;
    left: 3%;
    font-size: 25px;
}

.title-notification {
    margin: 0 auto;
    font-size: 1.7em;
}

.line-noti {
    margin: 10px 0 10px 0;
    border: 0.5px solid rgba(255, 255, 255, 0.375);
}

/* Nav Notificaciones */

.nav-noti {
    display: flex;
    margin: 0 85px
}

.tab-button {
    flex: 1;
    cursor: pointer;
    background: #46a19c4a;
    padding: 7px;
    font-size: 14.5px;
}

.tab-button:hover {
    background-color: #46a19c7c;
}

.tab-button.active {
    background-color: #46a19cba;
    font-weight: bold;
}

.tab-button > span {
    padding: 0 5px;
    background-color: #86cdc98f;
    border-radius: 3px;    
} 

.content-noti {
    flex: 1;
    padding: 20px;
    align-items: center;
}


.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.card-noti {
    height: 130px;
    max-height: 200px;
    margin: 0;
    padding: 5px 10px;
    background-color: #46a19c1c;
    border: 1px solid rgba(128, 128, 128, 0.223);
    border-radius: 10px; 
    position: relative;
}

.card-dates{
    display: flex;
}

.card-dates > img {
    height: 50px;
}

.card-dates > h4{
    margin: 0 5px;
    font-weight: 600;
}

.card-dates > h5 {
    color: var(--color-messageUser);
}

.email-user {
    position: absolute;
    top: 19%;
    left: 11.5%;
    color: var(--color-emailUser);
}

.card-message > p {
    font-size: 15px;
    margin: 0 15px;
    color: var(--color-messageUser);
}

.card-message  a, i{
    color: var(--color-greenLight);
}

.time-message {
    position:absolute;
    right: 5%;
    bottom: 5%;
}

.spot {
    position: absolute;
    display: block;
    bottom: 100%;
    right: 02%;
}
