@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    font-family: 'Montserrat';
}
:root {
    --color-secondary: #C41BA2;
    --color-dark-blue: #370C94;
    --color-third: #4442B6;
    --color-third-opacity: #0a023693;
    --color-messageUser: rgba(255, 255, 255, 0.809);
    --color-emailUser:  rgba(202, 202, 202, 0.822);  
    --color-light: #F8F8F8;
  }
/* Profile Dialog Container */

.dialog-profile {
    flex-direction: column;
    background-color: var(--color-third-opacity);
    border-radius: 20px;
}

.dialog-profile::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.container-profile {
    min-height: 80vh;
    height: 80vh;
    width: 1200px;
    align-items: center;
    background-color:  var(--color-third-opacity);
    color: white;
    font-family: 'Montserrat';
}

.btn-close-profile {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 25px;
}

.btn-close-profile > i {
    color: white;
    background-color: transparent;
    padding: 10px 14px;
    border-radius: 100%;
}

/* Contenido para Image Conexion */

.container-grid-profile {
    display: grid;
    grid-template-columns: 33% 65%;
    margin: 50px 20px;
    gap: 20px;
}

.container-images-conexion {
    text-align: center;
    height: 250px;
}

.container-images-conexion > img {
    height: 220px; 
    margin: 20px auto;
    border-radius: 100%;
}

.link-conexion {
    padding: 10px 12px;
    background-color: var(--color-third);
    color: white;
    border-radius: 5px;
}

.edit-profile > i{
    color: white;
}

/* Contenido para Dates User Config */

.container-general-edit {
    margin: 20px 0;
}

.container-general-edit > h3 {
    font-size: 45px;
    font-weight: 600;
}

.container-user-dates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    margin: 30px 0;
    align-items: center;
}

.column-dat1, .column-dat2, .column-dat3 > h2 {
    font-size: 18px;
}

.column-dat1 > input{
    color: white;
    width: 80%;
    border-radius: 5px;
    margin: 10px 0 30px 0;
    background-color: transparent;
    border: .5px solid var(--color-light);
}

.column-dat2 > input{
    color: white;
    width: 80%;
    border-radius: 5px;
    margin: 10px 0 30px 0;
    background-color: transparent;
    border: .5px solid var(--color-light);
}

.column-dat3 {
      grid-column: 1/3;      
}

.column-dat3 > input {
    width: 90%;
    border-radius: 5px;
    margin: 10px 0 30px 0;
    background-color: transparent;
    border: .5px solid var(--color-light);
}

.column-dat3 > h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.column-dat3 > span {
    color: var(--color-emailUser);
    margin: 20px 0;
}

.column-dat3 > p {
    margin: 10px 0;
}

@media screen and (max-width: 1255px) {

    .container-profile {
        width: 80vh;
    }
}

@media screen and (max-width: 830px) {

    .container-profile {
        width: 75vh;
    }

    .container-general-edit > h3 {
        font-size: 35px;
    }

    .link-conexion {
        padding: 5px 5px;
        font-size: 17px;
    }

    .container-images-conexion > img {
        height: 170px;
    }


    .container-grid-profile {
        margin: 0 10px;
    }
    
    .column-dat1, .column-dat2, .column-dat3 > h2 {
        font-size: 15px;
    }

    .column-dat3 > h1 {
        font-size: 25px;
    }

    .column-dat3 > p {
        font-size: 15px;
    }
}

@media screen and (max-width: 740px) {

    .container-profile {
        height: 100%;
        width: 65vh;
    }

    .container-grid-profile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .link-conexion {
        padding: 5px 15px;
        font-size: 20px;
    }

    .container-general-edit > h3 {
        margin-top: 5px;
        text-align: center;
        font-size: 25px;
    }

   .column-dat1 > input {
        padding: 5px;
        margin: 10px 0;
   }

   .column-dat2 > input {
        padding: 5px;
        margin: 10px 0;
   }

   .column-dat3 > input {
        padding: 5px;
        margin: 10px 0;
   }

   .column-dat3 > span {
        margin: 0 0;
   }

   .column-dat3 > p {
        margin: 10px 0;
   }
}

@media screen and (max-width: 650px ) {

    .container-profile {
        height: 100%;
        width: 45vh;
    }

    .column-dat3 > p {
        font-size: 13px;
    }
}

@media screen and (max-width: 465px ){
    .container-profile {
        width: 40vh;
    }
}

@media screen and (max-width: 420px) {
    .container-profile {
        width: 35vh;
    }

    .column-dat3 > p {
        font-size: 11.5px;
        display: block;
    }
}
