body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/*Estilos de navbar*/
.profile{
    width: 3rem!important;
    height:3rem!important; ;
}
.options-profile i{
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    .mobile-menu-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }
}

/*Empiezan estilos de la estructura del menu*/
.logout{
    position: absolute;
    bottom: 20px;
}



.icons_b{
    background-color: #46A19C;
    padding: 12px;
    margin-bottom: 5px;
}

.card{
    background-image: radial-gradient(circle at top left  rgba(148, 57, 99, 0.226) 20%, #46A19C 60%) ;
    background-size: 100% 200%;
    background-color: #1a182265;    
}

.star-svg path{
    fill:#B6487A;
}

.star-svg-none path{
    stroke:#B6487A;
    fill: none;
}

.card-bg{
    background-color: #38314B;}
