@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sansation';
    src: url('../public/fonts/Sansation_Regular.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-purple: #8a5796;
    --color-dark-green: #46A19C;
    --color-dark-red: #9C3C68;
}

body {
    background-image: url(/public/assets/background/background.svg);
}

/* Sección Eventos */

.tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px; /* Por modificar en el responsive*/
    overflow: hidden;
    margin: 30px 0px;
    color: white;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
  }
  
  .tablink {
    border: none;
    cursor: pointer;
    margin: 0 10px;
  }

  @media screen and (max-width: 600px) {
    .tablink {
        font-size: 13px;
    }
  }

  @media screen and (max-width: 428px) {
    .tablink {
        font-size: 12px;
    }
  }
  
  .tabcontent {
    display: none;
    text-align: center;
    overflow-y: auto; 
    width: 100%;
    height: calc(100% - 40px);
  }
  

  #underline {
    height: 3px;
    border-bottom: 2px solid var(--color-dark-green);
    transition: width 0.3s ease, left 0.3s ease;
    position: absolute;
    bottom: -5px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    justify-items: center;
    max-width: 100%; 
    margin: 20px 100px;
  }
  
  .card-ventajas {
    border-radius: 10px;
    display: flex;
    background: #46a19c39;
    text-align: center;
    width: 100%; 
    height: 200px; 
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 221);
  }
  
  .card-ventajas img {
    flex: 1;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }
  
  .card-text {
    flex: 1.6;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  
  .card-text h3 {
    margin: 30px 0;
  }
  
  .card-text p {
    font-size: 14px;
    color: white;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 1350px) {
    .card-text h3 {
        font-size: 17px;
    }
    .card-text > p {
        font-size: 12px;
    }
  }

  @media (max-width: 1230px){
    
    .tabs-container {
        height: 700px; 
    }
    .grid-container {
        display: grid;
        margin: 30px 10px;
        column-gap: 8px;
    }
    .card-ventajas {
        height: 230px;
    }
    .card-text {
        flex: 10;
    }
    .card-ventajas img {
        flex: 0;
    }
  }

  @media screen and (max-width: 992px) {
    .tabs-container {
        height: 900px;
    }

    .card-text > h3 {
        font-size: 19px;
    }
    .card-text > p {
        font-size: 15px;
    }
  }

  @media (max-width: 992px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {

    .tabs-container {
        height: 1200px;
        margin: 20px 20px;
    }
    .grid-container {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .card-ventajas {
        height: 170px;
    }
  
    .card-ventajas img {
      border-radius: 8px;
    }
  
    .card-text {
        text-align: left;
        padding: 0 30px;
    }

  }

  @media screen and (max-width: 530px) {
    .card-text  h3{
        margin: 10px;
    }
  }

  @media screen and (max-width: 450px) {
    .tabs-container {
        margin: 7px;
    }

    .grid-container {
        margin: 10px 0;
    }

    .card-ventajas > img {
        flex: 0;
    }

    .card-text {
        padding: 0 10px;
        flex: 5;
        text-align: left;
    }

    .card-text > h3 {
        font-size: 17px;
    }

    .card-text > p{
        font-size: 13.5px;
    }
  }
  

  
/* Sección Ventajas Yven Slider */



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-container{
    padding-block: 2.5rem;
}

.card-content {
    margin-inline: 1.75rem;
    overflow: hidden;
}

.card-article {
    width: 300px;
    border-radius: 1.5rem;
    overflow: hidden;
}

/* Info of turn */

.container-turn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10; 
    color: white;
}

.card-article:hover .container-turn {
    opacity: 1;
}

.card-article .card-image img {
    transition: filter 0.2s ease;
    width: 100%;
}

.card-article:hover .card-image img {
    filter: brightness(0.20); 
}

.card-article .card-image {
    overflow: hidden; 
}

.card-article:hover .card-name {
    opacity: 0; 
}

.card-article:hover .card-image img,
.card-article:hover .card-data{
    opacity: 0.3;
}

.title-turn {
    margin: 40px 0px;
}

.card-image {
    position: relative;
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card-data {
    background: linear-gradient(rgba(5,5,5, 0.4), rgba(5,5,5, 0.6)) var(--color-dark-green);
    padding: 1.5rem 2rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card-img {
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card-name {
    color: white;
    max-height: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--color-dark-green);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    height: 15px;
    width: 15px;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-dark-green);
}

@media screen and (max-width: 320px) {
    .card-data {
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-content {
        margin-inline: 3rem;
    }

    .swiper-button-next, 
    .swiper-button-prev {
        display: block;
    }
}

@media screen and (min-width: 1120px){
    .card-container {
        
    }
    
}


/* Sección Nosotros */

.val-noso {
    font-size: 45px;
    font-weight: 300;
    margin: 0 0 20px 10%;
}

.container-mivi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    margin: 0 auto;
    color: white;
    height: 600px;
    width: 80%;
}


.title-mivi{
    position: relative;
    padding: 30px 70px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    overflow: hidden;
    font-size: 55px;
}

.title-mivi:before {
    content: ""; /* Añadir un pseudo-elemento antes del contenido del div */
    position: absolute; 
    width: 100%;
    height: 100%;   
    background-color: rgba(255, 255, 255, 0.10); 
    border-radius: 10px; 
    filter: blur(100px);
}

.mivi {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.text-mivi {
    font-size: 35px;
    line-height: 50px;
}

/*  Responsive */

@media (max-width: 1669px) {
    .title-mivi {
        padding: 20px;
    }
    .text-mivi {
        font-size: 30px;        
        line-height: 38px;
    }
}

@media screen and (max-width: 1410px) {
    .title-mivi {
        padding: 25px;
    }
}

@media screen and (max-width: 1210px) {
    .title-mivi {
        padding: 10px;
    }
    .text-mivi {
        font-size: 25px;
        line-height: 30px
    }
    .container-mivi {
        height: 430px;
        width: 90%;
    }
}

@media screen and (max-width: 940px) {
    .container-mivi {
        display: grid;
        width: 95%;
        column-gap: 30px;
    }
}

@media screen and (max-width: 830px) {
    .mivi {
        font-size: 40px;
    }
    .text-mivi {
        font-size: 20px;
    }
}

@media screen and (max-width: 655px) {
    .container-mivi {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 600px;
        width: 85%;
        row-gap: 20px;
    }

    .text-mivi {
        line-height: 35px;
    }
}


@media screen and (max-width: 495px) {
    .container-mivi {
        display: grid;
        height: 600px;
    }
    .text-mivi {
        line-height: 25px;
    }
    .mivi {
        font-size: 30px;
    }
}

@media screen and (max-width: 380px) {
    .container-mivi {
        height: 680px;
    }
    .title-mivi {
        padding: 10px;
    }
}


/* Nuestros valores */

.container-valores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 450px);
    margin: 0px 290px;
    gap: 40px;
}

.three-containers {
    color: white;
    padding: 28px;
    border-radius: 10px;
}

.card-green {
    background: linear-gradient(rgba(5, 5, 5, 0.3), rgba(5, 5, 5, 0.3)) var(--color-dark-green);
}

.card-purple {
    background: linear-gradient(rgba(5, 5, 5, 0.3), rgba(5, 5, 5, 0.3)) var(--color-purple);
}

.card-red {
    background: linear-gradient(rgba(5,5,5, 0.3), rgba(5,5,5, 0.3)) var(--color-dark-red);
}

.title-valores{
    margin: 8px 0;
    font-size: 34px;
    line-height: 38px;
}

.text-valores {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

@media screen and (max-width: 1615px) {
    .container-valores {
        display: grid;
        margin: 0 100px;
    }
}

@media screen and (max-width: 1235px) {
    .container-valores {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        margin: 0 20px;
    }   

    .title-valores {
        line-height: 30px;
        font-size: 27px;
    }

    .text-valores {
        font-size: 19px;
    }

    .three-containers {
        padding: 10px;
    }
}

@media screen and (max-width: 830px) {
    .container-valores {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .val-noso {
        font-size: 32px;
        margin: 30px 35px;
    }
}

/* Reseñas */

.slider-container-resenas {
    position: relative;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
  }
  
  .slider-resenas {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .card-resenas {    
    height: 360px;
    flex: 0 0 calc(100% / 4);
    min-width: calc(100% / 4);
    background-color: #46a19c65;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
  }
  

  .prev-btn {
    left: 10px; /* Ajustar según sea necesario */
  }
  
  .next-btn {
    right: 10px; /* Ajustar según sea necesario */
  }
  
  .card-resenas img {
    align-items: center;
    text-align: center;
    width: 130px; /* Tamaño pequeño */
    height: 130px; /* Tamaño pequeño */
    margin: 20px;
  }

  .card-resenas h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .card-resenas p {
    font-size: 14px;
    color: white;
    margin-bottom: 50px;
  }



  /* Ajustar el número de cartas mostradas en función del ancho de la pantalla */
@media screen and (max-width: 1368px) {
    .card-resenas {
      flex: 0 0 calc(100% / 3); /* Muestra 3 cartas a la vez */
      min-width: calc(100% / 3);
    }
  }
  
  @media screen and (max-width: 576px) {
    .card-resenas {
      flex: 0 0 calc(100% / 2); /* Muestra 2 cartas a la vez */
      min-width: calc(100% / 2);
    }
  }

  @media screen and (max-width: 576px) {
    .card-resenas {
      flex: 0 0 calc(100% / 1); /* Muestra 2 cartas a la vez */
      min-width: calc(100% / 1);
    }
  }