.custom-bg {
    background-color: #2D163E;
}
.custom-button {
    background-color: transparent;
}
.custom-border {
    border-color: #FFFFFF;
    border-width: 1px;
}
.custom-text {
    color: #FFFFFF;
}
.selected {
    border: 2px solid #7C3AED;
}
.transparent-button {
    background-color: transparent;
    border: 1px solid white;
    color: #FFFFFF;
}
.transparent-button:hover {
    background-color: #7C3AED;
    border: 1px solid white;
    color: white;
}
.transparent-button.selected {
    background-color: #7C3AED;
    color: #FFFFFF;
}
.tema-cumple {
    background-color: #3E6068;
}
.tema-despedida {
    background-color: #4C3F96;
}
.tema-boda {
    background-color: #763457;
}
.tema-baby {
    background-color: #483D5F;
}
.tema-graduacion {
    background-color: #6B349C;
}
.tema-bautizo, .tema-otro {
    background-color: #4A4D7E;
}
