@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --color-secondary: #C41BA2;
  --color-dark-blue: #370C94;
  --color-third: #4442B6;
  --color-third-opacity: #4442b61c;
  --color-light: #F8F8F8;
}

body {
  overflow-x: hidden;
}
p{
  font-family:'Montserrat';
  color: var(--color-light)!important;
}
button{
  font-size: 18px!important;
}
h2{
  font-size: 64px;
}

.parrafos{
  font-family: 'Montserrat';
  font-weight: 300;
}
blockquote p{
  font-size: 20px!important;
}


/* Main Content */
.text-mobile{
  display: none;
}
.container-text-primary  {
  height: 700px;

     font-size: 2.6rem;
     line-height: 1.1;
 
   }

.container-text-primary h1 {
  padding-bottom: 1em;
     font-size: 2.6rem;
     line-height: 1.1;
 
   }
   .position-media{
    top: 220px;
   }

@media screen and (max-width: 800px) {
  section .container-text-primary {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90% !important;
  }
  .container-text-primary button{
    margin-top: 2px!important;
  }
  .container-text-primary div{
    margin-top: 24px;
  }
  .container-text-primary div div{
    width: 100%;
  }
  .container-text-primary div p{
    padding-top: 16px!important;
  }

  .primary-section {
    display: block !important;

  }

  .container-text-primary h1 {
    font-size: 2.2rem !important;
    line-height: 1.1;
    margin-top: 0 !important;
    margin-bottom: 16px;
    padding-top: 0 !important;

  }

  p {
    display: flex !important;
    line-height: 1.25 !important;
  }
  .text-mobile{
    display: block;

  }
  .text-desktop{
    display: none;
    visibility: hidden;
  }
}

/*Botones*/
.button-primary {
  font-size: 24px !important;
}

@media screen and (max-width: 1024px) {
  .button-primary {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 800px) {
  .button-primary {
    font-size: 18px !important;
    margin-top: 24px !important;
    width: 100% !important;
    margin-right: 16px !important;
  }
}

/* Estilos generales del slider */
@media screen and (min-width: 1500px) {
  #carousel {
    top: 80px;

  }

  .container-text-primary h1 {
    padding-top: 1em;
    font-size: 2.6rem;
    line-height: 1.1;

  }
}

@media screen and (max-width: 1490px) {
  #carousel {
    top: 80px;

  }

  .container-text-primary h1 {
    padding-top: 1em;
    font-size: 2.6rem;
    line-height: 1.1;

  }
}

@media screen and (min-width: 800px) {
  #default-carousel {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  #carousel {
    display: none;
  }

  .menu-social-media {
    display: none;
  }

  .container-text-primary p {
    font-size: 1.2rem;
  }

  .container-text-primary h1 {
    font-size: 1.8rem;
    margin-top: 1em;
    width: 100%;
  }

  .ventajas-container {
    padding-top: 0 !important;

  }

  .title-ventajas h2 {
   font-family: 'Montserrat, arial';
    font-size: 36px!important;
}
}

#carousel {
  position: block;
  min-height: 600px;
 
  padding-bottom: 12px;
  bottom: 0px;
}

#carousel div.prev img,
#carousel div.next img {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
}

#carousel div.selected img {
  opacity: 1;
  position: relative;
}

#carousel div {
  
  position: absolute;
  transition: transform 1s, opacity 1s, z-index 0s;
  opacity: 1;
}


#carousel div.prev {
  z-index: 5;
  left: 700%;
  transform: translateY(-100%) translateX(50%);

}

#carousel div.prev img {
  max-width: 40%;
}

.selected {
  min-width: 200px;
  max-width: 400px;
}

#carousel div.selected {
  z-index: 10;
  left: 85%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 5px 0px 20px rgba(29, 29, 29, 0.5);
  /* Agrega una sombra que se desplaza hacia la derecha */

}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(10%) translateX(50%);

}

#carousel div.next img {

  width: 40%;
}

/* Login */

@media screen and (max-width: 577px){
  .icons{
    margin: 0 1rem!important;
  }

  body{
    margin: 0 1rem;
    
  }

  p{
    margin-right: 4px!important;
  }

  .input-info input:focus{
    outline: none!important;
    outline-color: var(--color-dark-green);
  }
}

/* Footer */
.custom-background {
  background: linear-gradient(to right, #26414095, #203a3ac8, rgba(0, 0, 0, 0.389));
  
}

/* Video */

.video {
  transition: all 0.5s ease;
}

.video.active {
  width: 70%;
  margin-left: 0;
}

.video.inactive {
  width: 30%;
  margin-left: auto;
}


/* Experiencias */

.experiences{
  padding: 10px 28px;
}
.container-stream{
  align-self: self-start!important;
  margin: 10px 5px;
  display: contents;
}
.container-stream img{
  max-height: 170px;
  height: 110px;
  min-height: 100px;
}

/* LLamada a la acción */
.card-accion {
  padding: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0.25px 0px rgba(255, 255, 255, 0.50) inset;
  border-radius: 20px;
  gap: 8px;
  margin-bottom: 16px; 
}