@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sansation';
    src: url('../public/fonts/Sansation_Regular.ttf') format('truetype');
  }
  
  body {
    font-family: 'Sansation', sans-serif;
  }
  
body {
    background-image: url('../../public/assets/background/background.svg')!important;
    background-repeat: no-repeat;
    background-size: cover;
}

:root{
    --primary-color: #345E67;
    --secondary-color: #221D31;
    --white-color: #FFF;
    --green-light: #46A19C;
    
}

body {
    background-color: var(--secondary-color);
}

div button.color-btns {    
    background-color: #345E67;
}

button.login-color-btn {
    background-color: var(--green-light);
}

p a span.create-new-acc {
    color: var(--green-light);
}

.custom-bg-color {
   background-color: var(--secondary-color);
}
